---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Dictionary from '../components/Dictionary.astro';
import WhatItIs from '../components/WhatItIs.astro';
import WhatYouGet from '../components/WhatYouGet.astro';
import Premise from '../components/Premise.astro';
import Outcomes from '../components/Outcomes.astro';
import OperatingLayer from '../components/OperatingLayer.astro';
import Compounding from '../components/Compounding.astro';
import UseCases from '../components/UseCases.astro';
import EkomFlagship from '../components/EkomFlagship.astro';
import PrinciplesAndFooter from '../components/PrinciplesAndFooter.astro';
---
<Layout>
  <Nav />
  <div class="wrap">
    <Hero />
    <Dictionary />
    <WhatItIs />
    <WhatYouGet />
    <Premise />
    <Outcomes />
    <OperatingLayer />
    <Compounding />
    <UseCases />
  </div>
  <EkomFlagship />
  <PrinciplesAndFooter />
</Layout>