---
---
    <section class="dictionary" id="name">
      <div class="dict-inner">
        <div class="dict-mark">The name</div>

        <div class="dict-entry">
          <div class="dict-headline">
            <span class="dict-word"><span class="dict-spell">AGYL</span><span class="dict-pron-inline">(agile)</span></span>
            <span class="dict-pron">/ˈa-jəl/ · pronounced AH-jəl</span>
            <span class="dict-pos">adjective</span>
          </div>

          <div class="dict-senses">
            <div class="dict-sense">
              <span class="dict-sense-num">1.</span>
              <span class="dict-sense-body">Able to move quickly and easily. Quick to perceive, decide, act. <em>An agile organism. An agile mind. An agile system.</em></span>
            </div>
            <div class="dict-sense">
              <span class="dict-sense-num">2.</span>
              <span class="dict-sense-body">Capable of adapting to change without losing form. <em>An agile architecture. An agile institution.</em></span>
            </div>
          </div>
        </div>
      </div>
    </section>