---
---
  <nav class="top">
    <div class="navrow">
      <a href="#" class="brand"><span class="live-dot"></span>AGYL</a>
      <div class="navlinks">
        <a href="#what">What it is</a>
        <a href="#operating-layer">Operating Layer</a>
        <a href="#use-cases">Use Cases</a>
        <a href="#what-you-get">What you get</a>
        <a href="#ekom-flagship">EKOM</a>
        <a href="#company">Company</a>
      </div>
      <a href="#close" class="navcta">See it on your data</a>
    </div>
  </nav>

